{% load rooms_tags %}
{% if users|length > 5 %}
<div id="room-members" class="avatar-group -space-x-4">
    {% for item in users|slice:":5" %}
    <div class="avatar {% if item.online %}avatar-online{% endif %} avatar-placeholder {% if not item.online %}opacity-30{% endif %}">
        <div class="{% if item.online %}w-10{% else %}w-7{% endif %} rounded-full" style="background-color: {{ item.colour }}; color: #fff">
            <span class="text-sm">{{ item.user|initials }}</span>
        </div>
    </div>
    {% endfor %}
    <div class="avatar avatar-placeholder">
        <div class="w-10 rounded-full bg-base-300 text-base-content">
            <span class="text-sm">+{{ users|length|add:"-5" }}</span>
        </div>
    </div>
</div>
{% else %}
<div id="room-members" class="flex gap-2 items-center">
    {% for item in users %}
    <div class="avatar {% if item.online %}avatar-online{% endif %} avatar-placeholder {% if not item.online %}opacity-30{% endif %}">
        <div class="{% if item.online %}w-10{% else %}w-7{% endif %} rounded-full" style="background-color: {{ item.colour }}; color: #fff">
            <span class="text-sm">{{ item.user|initials }}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
