{% extends 'base.html' %}

{% block title %}Signup | {% endblock %}

{% block content %}

<h1>Signup</h1>

<form method="post" action="{% url 'signup' %}" class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 mx-auto">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="alert alert-error">
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <fieldset class="fieldset">
        <input type="email" class="input validator" placeholder="Email" name="email"
            value="{{ form.email.value|default:'' }}"
            data-init="$_email_error = '{{ form.email.errors|join:", "|escapejs }}'"
            data-on:input="$_email_error = ''"
            required />
        <div class="text-error text-xs" data-text="$_email_error" data-class:hidden="$_email_error === ''"></div>
        <span class="validator-hint hidden">Required</span>
    </fieldset>

    <fieldset class="fieldset">
        <input type="password" class="input validator" placeholder="Password" name="password1" required />
        <div class="text-error text-xs">{{ form.password1.errors }}</div>
        <span class="validator-hint hidden">Required</span>
    </fieldset>

    <fieldset class="fieldset">
        <input type="password" class="input validator" placeholder="Repeat Password" name="password2"required />
        <div class="text-error text-xs">{{ form.password2.errors }}</div>
        <span class="validator-hint hidden">Required</span>
    </fieldset>

    <button class="btn btn-neutral mt-4" type="submit">Signup</button>
</form>


{% endblock %}
